﻿@model Employee

@{
    ViewData["Title"] = "Delete Employee";
    var photoPath = $"~/Images/{Model.PhotoPath ?? "noimage.png"}";
}

<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1>@Model.Name</h1>
            </div>

            <div class="card-body text-center">
                <h3>Are you sure you want to delete this?</h3>

                <img class="card-img-top imageThumbnail" asp-append-version="true" src="@photoPath" />

                <h4>Employee ID: @Model.Id</h4>
                <h4>Email: @Model.Email</h4>
                <h4>Department: @Model.Department</h4>
            </div>
            <div class="card-footer text-center">
                <form asp-action="DeleteShure" asp-controller="Home" method="post" class="d-inline-block">
                    <input hidden asp-for="Id" />
                    <button type="submit" class="btn btn-danger" style="width:auto;">Shure to Delete</button>
                </form>
                <a asp-action="Index" asp-controller="Home" class="btn btn-secondary">Cancel</a>
            </div>
        </div>
    </div>
</div>
