﻿@model HomeDetailsViewModel

@{
    ViewBag.Title = "Employee Details";
    var employee = Model.Employee;
    var photoPath = $"~/Images/{employee.PhotoPath ?? "noimage.png"}";
}

<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1>@employee.Name</h1>
            </div>
            <div class="card-body text-center">
                <img class="card-img-top imageThumbnail" src="@photoPath" asp-append-version="true" />

                <h4>Employee ID: @employee.Id</h4>
                <h4>Email: @employee.Email</h4>
                <h4>Department: @employee.Department</h4>

            </div>

            <div class="card-footer text-center">
                <a class="btn btn-primary" asp-action="Index" asp-controller="Home">Back</a>
                <a class="btn btn-warning" asp-action="Update" asp-controller="Home" asp-route-id="@employee.Id">Update</a>
                <a class="btn btn-danger" asp-action="Delete" asp-controller="Home" asp-route-id="@employee.Id">Delete</a>
            </div>
        </div>
    </div>
</div>
