﻿@model int

@{
    ViewData["Title"] = "404 Error";
}

<div class="card">
    <div class="card-body text-center alert alert-danger my-1">
        <h4>404 Not Found Error:</h4>
        <hr />
        <h5>Employee with Id = @Model cannot be found.</h5>
        <img class="card-img-top imageThumbnail" src="~/Images/404-error.png" asp-append-version="true" />
    </div>
    <div class="card-footer">
        <a asp-controller="Home" asp-action="Index" class="btn btn-outline-success" style="width:auto">
            Click here to see the list of all employees
        </a>
    </div>
</div>
