﻿@model IEnumerable<Employee>

@{
    ViewBag.Title = "Employee Lijst";
}

<div class="card-deck">
    @foreach (var employee in Model)
    {
        var photoPath = $"~/images/{employee.PhotoPath ?? "noimage.png"}";
        <div class="card m-3" style="min-width: 18rem; max-width: 30.5%;">
            <div class="card-header">
                <h3>@employee.Name</h3>
            </div>
            <img class="card-img-top imageThumbnail" src="@photoPath" asp-append-version="true" />
            <div class="card-footer text-center">
                <a class="btn btn-info" asp-action="Details" asp-controller="Home" asp-route-id="@employee.Id">Details</a>
                <a class="btn btn-warning" asp-action="Update" asp-controller="Home" asp-route-id="@employee.Id">Update</a>
                <a class="btn btn-danger" asp-action="Delete" asp-controller="Home" asp-route-id="@employee.Id">Delete</a>
            </div>
        </div>
    }
</div>
