﻿@model RoleCreateViewModel

@{
    ViewData["Title"] = "Create new rol";
}

<h1>Create a new rol</h1>

<div class="row">
    <div class="col-md-12">
        <form asp-action="CreateRole">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoleName"></label>
                <input asp-for="RoleName"/>
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success" style="width:auto;"
                        asp-controller="administration" asp-action="createrole">Create rol</button>
            </div>
        </form>
    </div>
</div>