﻿@model List<UserRoleViewModel>

@{
    var roleId = ViewBag.RoleId;
    ViewData["Title"] = "Edit users in role";
}

<h1>EditUserInRole</h1>

<form method="post">
    <div class="card">
        <div class="card-header">
            <h2>Add or remove users from this role</h2>
        </div>
        <div class="card-body">
            @*@foreach (var userRole in Model)
            {
                <div class="form-check m-1">
                    <input asp-for="@userRole.UserId" type="hidden" />
                    <input asp-for="@userRole.UserName" type="hidden" />
                    <input asp-for="@userRole.IsSelected" class="form-check-input" />
                    <label class="form-check-label" asp-for="@userRole.IsSelected">
                        @userRole.UserName
                    </label>
                </div>
            }*@
            @for (int i = 0; i < (Model.Count - 1); i++)
            {
                <div class="form-check m-1">
                    <input asp-for="@Model[i].UserId" type="hidden" />
                    <input asp-for="@Model[i].UserName" type="hidden" />
                    <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                    <label class="form-check-label" asp-for="@Model[i].IsSelected">
                        @Model[i].UserName
                    </label>
                </div>
            }
        </div>
        <div class="card-footer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <button class="btn btn-warning" type="submit">Update</button>
            <a asp-action="EditRole" asp-controller="Administration"
               class="btn btn-secondary">Cancel</a>
        </div>
    </div>
</form>
