﻿@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "ListUsers";
}

<h1>ListUsers</h1>

@if (Model.Any())
{
    <a class="btn btn-success mb-3" style="width:auto;"
       asp-controller="Account" asp-action="Register">
        Add new User
    </a>
    foreach (var user in Model)
    {
        <div class="card">
            <div class="card-header">User ID : @user.Id</div>
            <div class="card-body">
                <h5 class="card-title">@user.UserName</h5>
            </div>
            <div class="card-footer">
                <form method="post" asp-action="DeleteUser" asp-controller="Administration" asp-route-id="@user.Id" >
                    <a asp-action="EditUser" asp-controller="Administration"
                       asp-route-Id="@user.Id" class="btn btn-warning">Edit</a>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            No users yet
        </div>
        <div class="card-body">
            <h5 class="card-title">Use the button below to create a user</h5>
        </div>
        <a class="btn btn-success" style="width:auto;"
           asp-controller="Account" asp-action="Register">
            Add a new user
        </a>
    </div>
}