﻿@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "All roles";
}

<h1>All roles</h1>

@if (Model.Any())
{
    <a class="btn btn-success mb-3" style="width:auto;"
       asp-controller="administration" asp-action="createrole">
        Add new Role
    </a>

    foreach (var rol in Model)
    {
        <div class="card">
            <div class="card-header">Role ID : @rol.Id</div>
            <div class="card-body">
                <h5 class="card-title">@rol.Name</h5>
            </div>
            <div class="card-footer">
                <a asp-action="EditRole" asp-controller="Administration" 
                   asp-route-Id="@rol.Id" class="btn btn-warning">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            No roles yet
        </div>
        <div class="card-body">
            <h5 class="card-title">Use the button below to create a role</h5>
        </div>
        <a class="btn btn-success" style="width:auto;"
           asp-controller="administration" asp-action="createrole">
            Create a rol
        </a>
    </div>
}