﻿@model UrlHolder;
@{
    ViewData["Title"] = "Not Found";
}

<div class="card">
    <div class="card-header">
        <h1>@Model.StatusCode Error</h1>
    </div>
    <div class="card-body text-center">
        <h2>@Model.StatusCodeMessage()</h2>
        <img class="card-img-top imageThumbnail" src="~/Images/404-error.png" asp-append-version="true" />
    </div>
    <div class="card-footer">
        <a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary" style="width:auto">
            Click here to navigate to the Home Page</a>
    </div>
</div>
